body {
    font-family: arial;
    color: white;
    margin: 0;
    padding-bottom: 80px;
}

hr {
    height: 5px;
    width: 100%;
    color: #6817b4;
    background-color: #6817b4;
    border: none;
    margin: 0 auto;
    position: fixed;
    z-index: 2;
}

.container {
    text-align: center;
}

.mainBg {
    background-color: #E0E0E0;
    position: relative;
}

.secondaryBg {
    background-color: #6817b4;
}

#decisioning {
    margin-top: 60px;
}

.MainSelection {
    padding: 30px;
}

.CategoryWrap {
    text-align: center;
}

.CategoryWrap img {
    display: inline-block;
    padding-top: 10px;
}

.CategoryText {
    font-size: 20pt;
    padding: 20px;
}

.CategoryTitle {
    text-align: center;
    margin-top: 30px;
    font-size: 35pt;
    color: black;
    text-transform: uppercase;
}

.CategoryTitleBg {
    background-color: #b38bd9;
    padding: 5px 0px;
}

.Category {
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    background-color: #6817b4;
}

.Category:hover {
    background-color: #400874;
}

#Cat5 {
    background-color: #434343;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#Cat5:hover {
    background-color: #262626;
}

#Cat2 {
    background-color: #ffd710;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#Cat2:hover {
    background-color: #c5a505;
}

#Cat3 {
    background-color: #2fce2c;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#Cat3:hover {
    background-color: #19b216;
}

#Cat4 {
    background-color: #1db4f9;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#Cat4:hover {
    background-color: #0591d0;
}

.decision {
    text-align: center;
    font-size: 15pt;
}

.decision img {
    margin-top: 10px;
    display: inline-block;
    padding: 5px 16px;
}

.decisionDetail {
    padding: 25px 30px;
}

.decision a {

}

.decision a:hover .decisionDetail {
    background-color: #400874;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#login {
    margin-top: 40px;
    text-align: center;
}

#LoginButton {
    font-size: 18pt;
    background: #656565;
    display: inline-block;
    padding: 20px 35px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
}

#LoginButton:hover {
    background: #383838;
}

.registrationButton:hover {
    background: #383838;
}

#lang {
    margin-top: 40px;
    text-align: center;
}

#logos {
    margin: 80px 0 40px 0;
}

#logos img {
    padding: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.lanBut {
    font-size: 18px;
    background: #B0B0B0;
    text-align: center;
    display: inline-block;
    padding: 20px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.lanBut:hover {
    cursor: pointer;
    background: #383838;
}

.BottomMenu {
    padding: 5px 20px;
    font-size: 20pt;
    background-color: #6817b4;
    text-transform: uppercase;
    z-index: 5;
    display: inline-block;
    margin-top: 20px;
    position: absolute;
}

.BottomMenuReg {
    padding: 5px 20px;
    font-size: 20pt;
    background-color: darkgray;
    text-transform: uppercase;
    z-index: 5;
    display: inline-block;
}

#HomeBut {
    left: 0;
}

#ModeLink {
    right: 0;
}

#mode-box {
    right: 0;
    margin-top: -140px;
    position: absolute;
    background: darkgray;
}

#ConfirmPopupInput {
    color: black;
    font-size: 15pt;
}

.ConfirmPopupText {
    font-size: 20pt;
}

.PopupConfirm {
    font-size: 20pt;
    color: black;
    margin-top: 10px;

}

#HomeBut img {
    width: 35px;
    margin: 0 0 10px 10px;
}

.Words {
    text-align: center;
}

.WordList {
    background-color: #c9c9c9;
}

.Words img {
    display: inline-block;
    max-height: 150px;
    margin: 1%;
    height: 150px;
    width: 200px;
}

.WordsListBg {
    background-color: #cecece;
    padding: 30px 0px;
}

/*-----------------------------------decision-----------------------------------*/
.imgSearch {
    width: 26px;
}

#yesBg {
    background-color: #7be75e;
    min-height: 0px;
}

#yesBg img {
    position: center;
}

#noBg {
    background-color: #f95f4a;
    min-height: 0px;
}

#noBg img {
    position: center;
}

.yesnoWrap {
    margin-top: 30px;
}

.truthDecision {
    background-color: white;
    margin: 30px 0 0 0;
    padding: 160px 60px;
}

.decisionBox {
    background-color: white;
    margin: 30px 0 0 0;
    padding: 160px 10px;
    text-align: center;
}

.decisionBox img {
    display: inline-block;
}

.Name {
    font-size: 20pt;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.Name p {
    margin: none;
}

.ImgResult {
    text-align: center;
}

.ImgResult img {
    display: inline-block;
}

/*-----------------------------------detail-----------------------------------*/

.DetailTitle {
    text-align: center;
    margin: 100px 0 20px 0;
    font-size: 35pt;
    color: black;
}

video {
    max-width: 100%;
    margin-top: 20px;
    border: 2px solid;
    border-color: #6817b4;
    cursor: pointer;
}

.DetailMenu {
    width: 100%;
    position: fixed;
    z-index: 5;
    font-size: 17px;
}

#Touchpad {
    position: fixed;
    height: 30%;
    width: 100%;
    z-index: 4;
}

.TopMenu {
    text-align: center;
    background-color: #656565;
    cursor: pointer;
    padding: 5px 0;
}

.active {
    background-color: #6817b4;
    margin-top: -5px;
    font-weight: bold;
    padding: 15px 0;
}

.DetailSign img {
    max-height: 400px;
    max-width: 100%;
}

.Picture img {
    max-height: 400px;
    max-width: 100%;
}

.RhymeText {
    text-align: center;
    color: black;
    font-size: 20px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;
}

.SongLyrics {
    text-align: left;
    color: black;
    font-size: 18px;
    max-width: 400px;
}

/*-----------------------------------login-----------------------------------*/

#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 999;
}

.login-popup {
    visibility: hidden;
    background: #6817b4;
    padding: 10px;
    border: 5px solid #fff;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    min-width: 280px;
    margin-top: -140px;
    margin-left: -140px;

}

fieldset {
    border: none;
    margin: 15px 30px 15px 30px;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin .textbox input {
    background: #fff;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 10px 10px 5px;
    width: 200px;
}

.Username {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}

.Password {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}

.signIn {
    font-size: 14pt;
    background: #656565;
    display: inline-block;
    padding: 10px 20px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
}

.signIn:hover {
    background: #383838;
}

.sign {
    margin-top: 10px;
    text-align: center;
}

.registration {
    margin-top: 8px;
    font-size: 18px;
    background: #656565;
    display: inline-block;
    padding: 10px 35px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
}

.register {
    margin-top: 20px;
    padding: 20px 0;
    background-color: #6817b4;
    transition: all 200ms linear;

}

.registration input {
    color: black;
}

.register:hover {
    background: #48107D;
}

/*-----------------------------------lostPasswd-----------------------------------*/

#mask_2 {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 999;
}

#lostPasswd {
    margin-top: 10px;
    text-align: center;
}

#LostPasswdButton {
/ / margin-top : 5 px;
    font-size: 12pt;
    background: #656565;
    display: inline-block;
    padding: 10px 25px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
}

#LostPasswdButton:hover {
    background: #383838;
}

.lostPasswd-popup {
    visibility: hidden;
    background: #6817b4;
    padding: 10px;
    border: 5px solid #fff;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    min-width: 280px;
    margin-top: -140px;
    margin-left: -170px;

}

form.resetPasswd .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.resetPasswd .textbox span {
    display: block;
}

form.resetPasswd .textbox input {
    background: #fff;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 10px 10px 5px;
    width: 200px;
}

.resetPasswd {
    font-size: 14pt;
    background: #6817b4;
    display: inline-block;
    padding: 10px 20px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
}

.reset {
    margin-top: 10px;
    text-align: center;
}

.resetPasswdButton {
    font-size: 14pt;
    background: #656565;
    display: inline-block;
    padding: 10px 20px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
}

.resetPasswdButton:hover {
    background: #383838;
}

/*--------------administration------------------------------*/
#popupContent {
    text-align: left;
    margin: 10px;

}

#popupContent2 {
    text-align: left;
    margin: 10px;

}

.AdministrationWords {
    height: 150px;
    width: 200px;
    font-size: 50px;
    margin: 1%;
    display: inline-block;
}

.AdministrationWords img {
    height: 100%;
    width: 100%;
}

/*.AdministrationWords HomeBorder {
    width:100%;
    height: 100%;

}*/
.AdministrationTitle {

}

.AdministrationOptions {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    z-index: 2;

}

/*----------------Administration->Users (accordion) ------------*/
.Users {
    height: 150px;
    width: 200px;
    font-size: 50px;
    margin: 1%;
    display: inline-block;
}

.Users img {
    width: 100%;
    height: 100%;

}

.UserTitle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

.UserOptions {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 150px;
    z-index: 2;
}

.UsersOptionDivider {
    background-color: black;
    width: 2px;
    height: 100px;
    position: absolute;
    left: 50%;
}

.UserEditImg {
    width: 80px;
    height: 80px;
    top: 15%;
    left: 30%;
    position: absolute;
}

.UserRemoveImg {
    width: 120px;
    height: 120px;
    top: 0%;
    left: -10%;
    position: absolute;
}

.UserEdit {
    float: left;
    position: absolute;
    left: 0;
    width: 200px;
    height: 100px;
    z-index: 3;
    cursor: pointer;
    opacity: 0.9;
}

.UserEdit:hover {
    background-color: #383838;
}

.UserRemove {
    float: left;
    left: 51%;
    position: absolute;
    width: 99px;
    height: 100px;
    z-index: 3;
    cursor: pointer;
    opacity: 0.9;
}

.UserRemove:hover {
    background-color: #383838;
}

/* ----------------------- end of adm -> Users /---------*/

hr {
    width: 100%;
    height: 5px;
    color: #6817b4;
    background-color: #6817b4;
    top: 0px;
}

.HomeBorder {
    width: 18%;
    height: 100%;
    max-width: 180px;
    max-height: 50px;
}

#HomeBorderReg {
    height: 100%;
    max-height: 50px;
}

.HomeWrapper {
    padding-top: 10%;
    width: 100%;
    height: 40%;
    position: relative;
    bottom: 0%;
    left: 0%;
    text-decoration: none;

}

.Home1 {
    padding: 7px 20px;
    bottom: 10px;
    left: 0;
    position: fixed;
    font-size: 20pt;
    background-color: #6817b4;
    text-transform: uppercase;
}

.Home1 img {
    width: 35px;
    margin: 0 0 0 10px;
}

.Edit {
    float: left;
    position: absolute;
    left: 0;
    width: 100px;
    height: 150px;
    z-index: 3;
    cursor: pointer;
    opacity: 0.9;
}

.Edit:hover {
    background-color: #383838;
}

.EditWide {
    float: left;
    position: absolute;
    left: 0;
    width: 200px;
    height: 150px;
    z-index: 3;
    cursor: pointer;
    opacity: 0.9;
}

.EditWide:hover {
    background-color: #383838;
}

.Remove {
    float: left;
    left: 51%;
    position: absolute;
    width: 99px;
    height: 150px;
    z-index: 3;
    cursor: pointer;
    opacity: 0.9;
}

.Remove:hover {
    background-color: #383838;
}

.EditImg {
    width: 80px;
    height: 80px;
    top: 25%;
    left: 12%;
    position: absolute;
}

.EditWide .EditImg {
    left: 30%;
}

.Purple {
    background-color: #6817b4;
}

.RemoveImg {
    width: 120px;
    height: 120px;
    top: 10%;
    left: -10%;
    position: absolute;
}

.OptionDivider {
    background-color: black;
    width: 2px;
    height: 150px;
    position: absolute;
    left: 50%;
}

.AddButton:hover {
    background-color: #383838;
}

.AddButton {

    /*background-image: url(../img/addButton.png);*/
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#backgroundPopup {
    z-index: 1;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background: #000000;
    top: 0px;
    left: 0px;
}

#backgroundPopup2 {
    z-index: 1;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background: #000000;
    top: 0px;
    left: 0px;
}

#toPopup {
      /*font-family: "lucida grande", tahoma, verdana, arial, sans-serif;*/
      background: none repeat scroll 0 0 #6817b4;
      border: 10px solid #ccc;
      border-radius: 3px 3px 3px 3px;
      display: none;;
      left: 50%;
      margin-left: -140px;
      position: fixed;
      top: 5%;
      min-width: 200px;
      z-index: 99;
      font-size: 18px;
      color: white;
      font-family: arial;
  }
#toPopup2 {
    /*font-family: "lucida grande", tahoma, verdana, arial, sans-serif;*/
    background: none repeat scroll 0 0 #6817b4;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    display: none;;
    left: 50%;
    margin-left: -140px;
    position: fixed;
    top: 5%;
    min-width: 200px;
    z-index: 99;
    font-size: 18px;
    color: white;
    font-family: arial;
}

div#popup_content {
    margin: 4px 7px;
    /* remove this comment if you want scroll bar
    overflow-y:scroll;
    height:200px
    */
}

.MainSelectionList {
    width: 80%;
    margin: 0px auto ! important;
    margin-top: 100px ! important;
}

.ui-accordion-header {
    width: 15%;
    border: 0px ! important;
    background: white ! important;
    border-radius: 0px ! important;
}

.ui-widget-content {
    background: #cacaca ! important;
    border: black 0px solid ! important;
}

.userMenu {
    position: fixed;
    top: 5px;
    right: 15%;
    z-index: 5;
}

.thisUser {
    font-size: 14pt;
    background: #656565;
    display: inline-block;
    padding: 10px 20px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
    text-transform: uppercase;
}

.logout {
    visibility: hidden;
    font-size: 10pt;
    background: #656565;
    display: inline-block;
    padding: 10px 20px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
    text-transform: uppercase;
    position: fixed;
    top: 48px;
    right: 15%;
    z-index: 5;
}

.thisUser:hover {
    background: #383838;
}

.logout:hover {
    background: #383838;
}

.ui-accordion .ui-accordion-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
}

.ui-accordion .ui-accordion-header {
    min-width: 200px;
}

.ui-icon {
    zoom: 1.2;
}

#accordion .ui-accordion-content {
    height: 1000px;
}

.CategoriesList .ui-accordion-content .ui-helper-reset .ui-widget-content .ui-corner-bottom .ui-accordion-content-active .ui-accordion .ui-widget {
    height: 100%;
}

.ui-accordion-content-active {
    height: 100%;
}

.ClassRight {
    right: 0;
    text-align: right;
}

.ClassLeft {
    left: 0;
}

.categoryControl {
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    min-height: 120px;
    padding-top: 14%;
}

.categoryControl img.img-responsive {
    opacity: .2;
    max-height: 60%;
}

.categoryControl:hover {
    background-color: rgba(255, 255, 255, .1);
}

.categoryControl:hover img {
    opacity: .4;
}


.Category .img-responsive {
    margin-bottom: 10px;
}

.img-responsive {
    display: inline-block;
}

.DetailPicture {
    text-align: center;
}

.SongImage img:hover {
    -webkit-filter: brightness(55%);
    -moz-filter: brightness(55%);
    -o-filter: brightness(55%);
    -ms-filter: brightness(55%);
    filter: brightness(55%);
}

.DetailTitle img {
    display: inline-block;
    max-height: 52px;
    margin-left: 20px;
    margin-top: -8px;
}